body
{
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    width: 100vw;
    height: 100vh;
    box-sizing: border-box;
    background-image: url("camila.png");
    background-position: center ;
    background-size: 130%;
    overflow: hidden;
    background-color: rgb(150, 221, 221);
}
.pacotes
{
    background-color: #99daf3;
    width: 250px;
    height: 60px;
    display: flex;
    justify-content: center;
    font-family: 'Alfa Slab one'; font-size: 50px;
    color: #0B3976;
}
.quadros
{
    width: 80%;
    height: 500px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
.quadro
{
    background-color: rgb(21, 32, 65);
    width: 250px;
    height: 400px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    justify-items: center;
    align-items: center;
    align-self: center;
    }
.imagem
{
    height: 150px;
    border: 3px solid #093875;
}
.escritas
{
    width: 200px;
    height: 200px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    justify-items: center;
    align-items: flex-start;
    align-content: flex-start;
}
.NomePacote
{
    font-family: "Open Sans"; font-size: 25px;
    color: #99daf3;
    font-weight: bold;
}
.TipoPacote
{
    font-family: "Open Sans"; font-size: 30px;
    font-weight: bold;
    color: white;
}
.PrecoPacote
{
    font-family: "Open Sans"; font-size: 35px;
    font-weight: bolder;
    color: white;
}